.App {
    text-align: center; /* Center text */
  }
  
  .App-header {
    background-color: #282c34; /* Dark background for header */
    padding: 20px;
    color: white; /* White text color */
  }
  